env.sh
env.cmd
*.pyc
tags
tmp
tools/.sconsign.dblite
*.lnk
vc100.pdb
vc90.pdb
.DS_Store
*.swp
*.lock
steinberg
.cproject
.project
.settings
lib_juce/EigenD/JuceLibraryCode
lib_juce/EigenD/Builds

#Xcode 
xcuserdata
#contents.xcworkspacedata
DerivedData/
build/
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
Pods/
Podfile.lock
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


