// Xcode target configuration settings for the Max 5 SDK
// Used as the basis for Xcode projects to build Max externals.
//
// Changes to the settings in this file will be applied to all examples
// To change settings for only one of the examples, override the settings using
// Xcode's target inspector.

// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = 1.0.1

// Paths
C74SUPPORT = $(SRCROOT)/../MaxSDK-5.0.6/c74support
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(SRCROOT)/../../"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes"
DSTROOT = $(SRCROOT)/../externals
// (This next path is relative to DSTROOT)
INSTALL_PATH = /


// Special Files
GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
INFOPLIST_FILE = $(SRCROOT)/../Info.plist


// Per architecture and deployment settings
SDKROOT[arch=i386] = /Developer/SDKs/MacOSX10.4u.sdk
SDKROOT[arch=ppc] = /Developer/SDKs/MacOSX10.4u.sdk
GCC_VERSION[arch=i386] = 4.0
GCC_VERSION[arch=ppc] = 4.0
MACOSX_DEPLOYMENT_TARGET = 10.4


// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
